<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hanumanoid_interaction">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import hanumanoid_interaction urdf file -->
    <xacro:include filename="$(find hanumanoid_interaction_description)/urdf/hanumanoid_interaction.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="hanumanoid_interaction.ros2_control.xacro" />


    <xacro:hanumanoid_interaction_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
